<h1> Patients </h1>

<ul>
    <% @patients.each do |patient| %>
        <li>
            <%= link_to patient.name, patient_path(patient) %>
            <p> Total appointment: <%= patient.appointments.count %> </p>
        </li>
    <%end%>
</ul>
