<h1> Appointment </h1>
<p> patient: <%= @appointment.patient.name %> </p>
<p> doctor: <%= @appointment.doctor.name %> </p>
<p> time: <%= @appointment.print_time %> </p>





# Create an `Appointment#show` page that shows the date, time, patient, and doctor for that particular appointment. Note that there should NOT be an `Appointment#index` page –– we don't want to have all of the appointments on display for anyone to see.

